.game {
    &__score {
        display: flex;
        width: 100%;
        padding: 0 20px;
        gap: 10px;

        @media screen and (max-height: 780px) {
            // padding-bottom: 100px;
            transform: translateY(-110px);
        }
        &_img {
            height: auto;
            border: 1px solid white;
            border-radius: 50%;
            width: 40px;
        }

        &_count {
            display: flex;
            width: 80%;
            height: 100%;
            align-items: center;
            gap: 30px;
            background-color: #252637; /* fallback color */
            background-image: linear-gradient(to bottom, #36384e, #252637);
            border-radius: 14px;
            padding: 20px 15px;
            width: 100%;
            height: 60px;
            width: 100%;
        }
    }
}

